@model CoverType

@{
    ViewData["Title"] = "Delete cover type";
}

<div class="mt-4 p-3">
    <div class="row mb-2">
        <h2>Delete cover type</h2>
        <form method="post">
            <input asp-for="@Model.Id" hidden/>
            <div class="mb-2">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" disabled/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-info" asp-action="Index" asp-controller="CoverType">Back to list</a>
        </form>
    </div>
</div>
